mixin circle()
    div(class='circle' '[style.background-color]'=attributes.style)

mixin colorInput(placeholder, index)
    mat-form-field('*ngIf'=index + '< numberOfBands.value * 1+ 1' class='color-input')
        mat-select(aria-label=placeholder placeholder=placeholder, '[(value)]'='bands['+index+'*1-1]', (selectionChange)='bandChanged()')
            mat-option(role='listitem' value='0', '*ngIf'=index+' < 5 && ' + index + ' != 0') 
                +circle()(style="colors['0']")
                | Black
            mat-option(role='listitem' value='1') 
                +circle()(style="colors['1']")
                | Brown
            mat-option(role='listitem' value='2') 
                +circle()(style="colors['2']")
                | Red
            mat-option(role='listitem' value='3', '*ngIf'=index+' != 5') 
                +circle()(style="colors['3']")
                | Orange
            mat-option(role='listitem' value='4', '*ngIf'=index+' != 5') 
                +circle()(style="colors['4']")
                | Yellow
            mat-option(role='listitem' value='5', '*ngIf'=index+' < 6') 
                +circle()(style="colors['5']")
                | Green
            mat-option(role='listitem' value='6') 
                +circle()(style="colors['6']")
                | Blue
            mat-option(role='listitem' value='7') 
                +circle()(style="colors['7']")
                | Violet
            mat-option(role='listitem' value='8', '*ngIf'=index+' < 6') 
                +circle()(style="colors['8']")
                | Grey
            mat-option(role='listitem' value='9', '*ngIf'=index+' < 5') 
                +circle()(style="colors['9']")
                | White
            mat-option(role='listitem' value='-1', '*ngIf'=index+' > 3 && '+index+' < 6') 
                +circle()(style="colors['0.1']")
                | Gold 
            mat-option(role='listitem' value='-2', '*ngIf'=index+' > 3 && '+index+' < 6') 
                +circle()(style="colors['0.01']")
                | Silver

main
    h1 resistor-ninja
    mat-button-toggle-group('#numberOfBands'='matButtonToggleGroup' '[(value)]'='numberOfBandsValue' '(change)'='numberOfBandsChange($event)')
        mat-button-toggle(value='4', checked) 4
        mat-button-toggle(value='5') 5
        mat-button-toggle(value='6') 6

    resistor('[numberOfBands]'='numberOfBands.value', '[bands]'='colorBands')


    +colorInput('Band 1', 1)
    +colorInput('Band 2', 2)
    +colorInput('Band 3', 3)
    +colorInput('Band 4', 4)
    +colorInput('Band 5', 5)
    +colorInput('Band 6', 6)

    mat-form-field.result
        input(type='number', matInput, '[value]'='resistance/resistanceMultiplier')
        button(matSuffix, 'mat-button', '[matMenuTriggerFor]'="menu", id='resistanceMultiplier') {{ resistanceMultiplier==1 ? 'Ω' : (resistanceMultiplier==1000 ? 'kΩ' : 'MΩ') }}
            mat-menu('#menu'="matMenu")
                button(mat-menu-item) Ω
                button(mat-menu-item) kΩ
                button(mat-menu-item) MΩ
