
<main>
  <h1>resistor-ninja</h1>
  <mat-button-toggle-group #numberOfBands="matButtonToggleGroup">
    <mat-button-toggle value="4" checked="checked">4</mat-button-toggle>
    <mat-button-toggle value="5">5</mat-button-toggle>
    <mat-button-toggle value="6">6</mat-button-toggle>
  </mat-button-toggle-group>
  <resistor [numberOfBands]="numberOfBands.value"></resistor>
  <mat-form-field *ngIf="1&lt; numberOfBands.value * 1+ 1">
    <mat-select placeholder="Band 1">
      <mat-option value="0" *ngIf="1 &lt; 5">Black</mat-option>
      <mat-option value="1">Brown</mat-option>
      <mat-option value="2">Red</mat-option>
      <mat-option value="3" *ngIf="1 != 5">Orange</mat-option>
      <mat-option value="4" *ngIf="1 != 5">Yellow</mat-option>
      <mat-option value="5" *ngIf="1 &lt; 6">Green</mat-option>
      <mat-option value="6">Blue</mat-option>
      <mat-option value="7">Violet</mat-option>
      <mat-option value="8" *ngIf="1 &lt; 6">Grey</mat-option>
      <mat-option value="9" *ngIf="1 &lt; 5">White</mat-option>
      <mat-option value="0.1" *ngIf="1 &gt; 3 &amp;&amp; 1 &lt; 6">Gold </mat-option>
      <mat-option value="0.01" *ngIf="1 &gt; 3 &amp;&amp; 1 &lt; 6">Silver</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="2&lt; numberOfBands.value * 1+ 1">
    <mat-select placeholder="Band 2">
      <mat-option value="0" *ngIf="2 &lt; 5">Black</mat-option>
      <mat-option value="1">Brown</mat-option>
      <mat-option value="2">Red</mat-option>
      <mat-option value="3" *ngIf="2 != 5">Orange</mat-option>
      <mat-option value="4" *ngIf="2 != 5">Yellow</mat-option>
      <mat-option value="5" *ngIf="2 &lt; 6">Green</mat-option>
      <mat-option value="6">Blue</mat-option>
      <mat-option value="7">Violet</mat-option>
      <mat-option value="8" *ngIf="2 &lt; 6">Grey</mat-option>
      <mat-option value="9" *ngIf="2 &lt; 5">White</mat-option>
      <mat-option value="0.1" *ngIf="2 &gt; 3 &amp;&amp; 2 &lt; 6">Gold </mat-option>
      <mat-option value="0.01" *ngIf="2 &gt; 3 &amp;&amp; 2 &lt; 6">Silver</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="3&lt; numberOfBands.value * 1+ 1">
    <mat-select placeholder="Band 3">
      <mat-option value="0" *ngIf="3 &lt; 5">Black</mat-option>
      <mat-option value="1">Brown</mat-option>
      <mat-option value="2">Red</mat-option>
      <mat-option value="3" *ngIf="3 != 5">Orange</mat-option>
      <mat-option value="4" *ngIf="3 != 5">Yellow</mat-option>
      <mat-option value="5" *ngIf="3 &lt; 6">Green</mat-option>
      <mat-option value="6">Blue</mat-option>
      <mat-option value="7">Violet</mat-option>
      <mat-option value="8" *ngIf="3 &lt; 6">Grey</mat-option>
      <mat-option value="9" *ngIf="3 &lt; 5">White</mat-option>
      <mat-option value="0.1" *ngIf="3 &gt; 3 &amp;&amp; 3 &lt; 6">Gold </mat-option>
      <mat-option value="0.01" *ngIf="3 &gt; 3 &amp;&amp; 3 &lt; 6">Silver</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="4&lt; numberOfBands.value * 1+ 1">
    <mat-select placeholder="Band 4">
      <mat-option value="0" *ngIf="4 &lt; 5">Black</mat-option>
      <mat-option value="1">Brown</mat-option>
      <mat-option value="2">Red</mat-option>
      <mat-option value="3" *ngIf="4 != 5">Orange</mat-option>
      <mat-option value="4" *ngIf="4 != 5">Yellow</mat-option>
      <mat-option value="5" *ngIf="4 &lt; 6">Green</mat-option>
      <mat-option value="6">Blue</mat-option>
      <mat-option value="7">Violet</mat-option>
      <mat-option value="8" *ngIf="4 &lt; 6">Grey</mat-option>
      <mat-option value="9" *ngIf="4 &lt; 5">White</mat-option>
      <mat-option value="0.1" *ngIf="4 &gt; 3 &amp;&amp; 4 &lt; 6">Gold </mat-option>
      <mat-option value="0.01" *ngIf="4 &gt; 3 &amp;&amp; 4 &lt; 6">Silver</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="5&lt; numberOfBands.value * 1+ 1">
    <mat-select placeholder="Band 5">
      <mat-option value="0" *ngIf="5 &lt; 5">Black</mat-option>
      <mat-option value="1">Brown</mat-option>
      <mat-option value="2">Red</mat-option>
      <mat-option value="3" *ngIf="5 != 5">Orange</mat-option>
      <mat-option value="4" *ngIf="5 != 5">Yellow</mat-option>
      <mat-option value="5" *ngIf="5 &lt; 6">Green</mat-option>
      <mat-option value="6">Blue</mat-option>
      <mat-option value="7">Violet</mat-option>
      <mat-option value="8" *ngIf="5 &lt; 6">Grey</mat-option>
      <mat-option value="9" *ngIf="5 &lt; 5">White</mat-option>
      <mat-option value="0.1" *ngIf="5 &gt; 3 &amp;&amp; 5 &lt; 6">Gold </mat-option>
      <mat-option value="0.01" *ngIf="5 &gt; 3 &amp;&amp; 5 &lt; 6">Silver</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="6&lt; numberOfBands.value * 1+ 1">
    <mat-select placeholder="Band 6">
      <mat-option value="0" *ngIf="6 &lt; 5">Black</mat-option>
      <mat-option value="1">Brown</mat-option>
      <mat-option value="2">Red</mat-option>
      <mat-option value="3" *ngIf="6 != 5">Orange</mat-option>
      <mat-option value="4" *ngIf="6 != 5">Yellow</mat-option>
      <mat-option value="5" *ngIf="6 &lt; 6">Green</mat-option>
      <mat-option value="6">Blue</mat-option>
      <mat-option value="7">Violet</mat-option>
      <mat-option value="8" *ngIf="6 &lt; 6">Grey</mat-option>
      <mat-option value="9" *ngIf="6 &lt; 5">White</mat-option>
      <mat-option value="0.1" *ngIf="6 &gt; 3 &amp;&amp; 6 &lt; 6">Gold </mat-option>
      <mat-option value="0.01" *ngIf="6 &gt; 3 &amp;&amp; 6 &lt; 6">Silver</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="result">
    <input type="number" matInput="matInput" value="100"/><span matSuffix="matSuffix">Ω</span>
  </mat-form-field>
</main>