main {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .title-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;

        h1 {
            margin: 0px;
            width: 50%;
        }
    
        button#github-btn {
            height: 15%;
            color: black;

            mat-icon {
                margin-right: 5px;
            }
        }
    }

    mat-button-toggle-group {
        mat-button-toggle {
            width: 33.3333333%;
        }
    }

    resistor {
        margin-top: 20px;
        margin-bottom: 11px;
    }

    #color-input-wrapper {
        display: flex;
        flex-direction: column;
    }

    .flip-btn-wrapper {
        display: flex;
        justify-content: flex-end;
    }    

    mat-form-field.result {
        font-size: 2.5rem;

        label {
            font-size: 1rem;
        }

        .mat-form-field-infix {
            border-top: 0px;
        }
    }

    button#resistanceMultiplier {
        font-size: 1em;
    }
}

div.circle {
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    margin-right: 5px;
}

@media screen and (min-width: 800px) {
    mat-button-toggle-group {
        width: 40%;

        mat-button-toggle {
            width: 33.3333333%;
        }
    }

    #color-input-wrapper {
        flex-direction: row !important;
        justify-content: center;

        mat-form-field {
            margin-left: 5px;
            margin-right: 5px;
            width: 7em;
        }
    }
}