mixin colorInput(placeholder, index)
    mat-form-field('*ngIf'=index + '< numberOfBands.value * 1+ 1')
        mat-select(placeholder=placeholder)
            mat-option(value='0', '*ngIf'=index+' < 5') Black
            mat-option(value='1') Brown
            mat-option(value='2') Red
            mat-option(value='3', '*ngIf'=index+' != 5') Orange
            mat-option(value='4', '*ngIf'=index+' != 5') Yellow
            mat-option(value='5', '*ngIf'=index+' < 6') Green
            mat-option(value='6') Blue
            mat-option(value='7') Violet
            mat-option(value='8', '*ngIf'=index+' < 6') Grey
            mat-option(value='9', '*ngIf'=index+' < 5') White
            mat-option(value='0.1', '*ngIf'=index+' > 3 && '+index+' < 6') Gold 
            mat-option(value='0.01', '*ngIf'=index+' > 3 && '+index+' < 6') Silver

main
    h1 resistor-ninja
    mat-button-toggle-group('#numberOfBands'='matButtonToggleGroup')
        mat-button-toggle(value='4', checked) 4
        mat-button-toggle(value='5') 5
        mat-button-toggle(value='6') 6

    resistor('[numberOfBands]'='numberOfBands.value')


    +colorInput('Band 1', 1)
    +colorInput('Band 2', 2)
    +colorInput('Band 3', 3)
    +colorInput('Band 4', 4)
    +colorInput('Band 5', 5)
    +colorInput('Band 6', 6)

    mat-form-field.result
        input(type='number', matInput, value='100')
        span(matSuffix) Ω
