/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field.result div.mat-form-field-infix {
    border: 0px;
}

.cdk-overlay-pane {
    min-width: calc(100% - 50px) !important;
}

.mat-option-text {
    display: flex !important;
    align-items: center !important;
}